

@font-face {
    font-family: 'fonteTitulo';
    src:url('fontes/Fonte1.ttf');
    format:(truetype);
}

@font-face {
    font-family: 'fonteTitulo2';
    src:url('fontes/Fonte2.otf');
    format:(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

.mr-dafoe-regular {
    font-family: "Mr Dafoe", cursive;
    font-weight: 800;
    font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

.playwrite-cu-uniquifier {
    font-family: "Playwrite CU", cursive;
    font-weight: 200;
    font-optical-sizing: auto;
  }

  @import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

  .imperial-script-regular {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
.rosa1
{ 
    color: #26010B; 
}
.rosa2
{ 
    color: #BF045B; 
}
.roxo
{ 
    color: #59023B; 
}
.rosa3
{ 
    color: #BF3F92; 
}
.rosa4
{ 
    color: #F28DCF; 
}
* {
    margin: 0;
}
header {
    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#titulo {
    margin-left: -440px;
}
#menu {
    display: flex;
    margin-left: 420px;
    gap: 20px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #F28DCF;
    padding-top: 0;
}
a:hover {
    text-decoration: dashed;
    color: #BF3F92;
    padding: 5px;
    animation-delay: 1s;
}

#Recepcao {
    background-image: url(images/fundo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 700px;
    text-align: center;
    box-shadow: 1px 2px 1px black;
    color: black;
}

#menu2 {
    font-size: 30px;
    padding-top: 250px;
}

#historia {
    height: auto;
    background-color: rgb(29, 29, 29);
    text-align: center;
    color: white;
    padding-bottom: 100px;
    box-shadow: 3px 3px 2px black;
}

#sobreNos {
    padding-top: 100px;
    margin-bottom: 100px;
    font-size: 30px;

}

.fotosLaterais {
    display: flex;
    margin-left: 120px;
    width: 300px;
    height: 350px;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 1px 1px 1px white;
}

.container {
    display: block;
    width: 300px;
    height: 350px;
    background-color: black;
    margin-left: 520px;
    margin-top: -350px;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 1px 1px 1px white;
}

.fotosLaterais2 {
    display: flex;
    margin-left: 920px;
    width: 300px;
    height: 350px;
    margin-top: -350px;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 1px 1px 1px white;
}

.cardapioEntradas {
    height: auto;
    background-color: rgb(49, 49, 49);
    text-align: center;
    color: white;
    padding-bottom: 250px;
    padding-top: 100px;
    box-shadow: 5px 5px 5px black;
}

#fotosLaterais3 {
    display: flex;
    margin-left: 80px;
    width: 550px;
    height: 550px;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 1px 1px 1px white;
}

#entradasTexto {
    margin-top: -500px;
    margin-left: 750px;
    text-align: left;
}

#entradasTexto2 {
    margin-top: -500px;
    margin-left: 80px;
    text-align: left;
}

#fotosLaterais4 {
    display: flex;
    margin-left: 750px;
    margin-right: 30px;
    width: 550px;
    height: 550px;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 1px 1px 1px white;
}

#Tabela {
    height: auto;
    background-color: rgb(49, 49, 49);
    text-align: center;
    color: white;
    padding-bottom: 150px;
    padding-top: 100px;
    box-shadow: 5px 5px 5px black;
}
tr, th, td {
    border: solid black 1px;
    padding: 5px 100px 5px 50px;
    text-align: left;
}
th {
    text-align: center;
    background-color: rgb(49, 49, 49);
    color: white;
}
table {
    margin: auto;
    border-collapse: collapse;
    background-color: white;
    color: black;
}

footer {
    text-align: center;
    font-size: 16px;
    background-color: rgb(29, 29, 29);
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}